<div class="main">
  <div class="form-wrap">
    <div class="form__wrapper">
      <h2 class="page-heading"><%= @spot.name %></h2>
      <div class="show_field">
        <i class="fa-solid fa-barcode" style="color: #8EDAE5;"></i>
        <label class="form-name">使用できるスマホ決済の種類</label>
        <ul class="show-tag">
          <% @spot.tags.each do |tag| %>
            <li>
              <div class="tag-item" style="background-color: <%= tag_color(tag.id) %>;">
                <%= tag.name %>
              </div>
            </li>
          <% end %> 
        </ul>
      </div>
      <div class="show_field">
        <i class="fa-solid fa-location-dot" style="color: #8EDAE5;"></i>
        <label class="form-name"><%= @spot.address %></label>
      </div>
      <div class="show_field">
        <div id="map"></div>
        <script>
          function initMap() {
            let map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %>},
            zoom: 15,
            });
            marker = new google.maps.Marker({
            position:  {lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %>},
            map: map
            });
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
      </div>

      <% if user_signed_in? && (current_user.id == @spot.user_id || current_user.admin?) %>
        <div class="show_nav">
          <div class="edit_right">
              <%= link_to "編集", edit_spot_path(@spot.id), class: :show_nav_btn %>
          </div>
          <div class="edit_right">
              <%= link_to "削除", spot_path(@spot.id), data: { turbo_method: :delete }, class: :delete_nav_btn %>
          </div>
        </div>
      <% end %>
      <div class="map_bottom"></div>
      <div class="show_field">
        <% @comments.each do |comment| %>
          <div class="sb-box">
            <div class="icon-img icon-img-left">
              アイコン
            </div>
            <div class="sb-side sb-side-left">
              <div class="sb-txt sb-txt-left">
                <div>
                    <%= comment.comment %>
                </div>
                <div class="comment_name">
                  <strong><%= comment.user.name %>（<%= l comment.updated_at %>）</strong>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if user_signed_in? %>
          <%= form_with(model:[@spot, @comment], local: true) do |f|%>
            <%= render 'shared/error_messages', model: f.object %>
            <div class="field">
              <%= f.text_area :comment, placeholder: "コメントする", rows: "3", class:"comment-form", id:"comment_content" %>
            </div>
            <div class="comment_action">
              <%= f.submit "コメントを送信する", class: :comment_btn %>
            </div>
          <% end %>
        <% else %>
          <div class="caution">
            <i class="fa-solid fa-circle-exclamation" style="color: #F99695;"></i>
            コメントの投稿にはログインが必要です。
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
