<div class="main">
  <div class="form-wrap">
    <div class="form__wrapper">
      <h2 class="page-heading"><%= @user.name %>さんのマイページ</h2>
        <div class="my_field">
          <div class="my_icon">
            <% if @user.image.attached? %>
              <%= image_tag @user.image.variant(resize: '100'), class: :icon %>
            <% else %>
              <%= image_tag 'icon.jpg', class: :default_icon %>
            <% end %>
          </div>
          <label class="form-name"><%= @user.name %></label>
          <div class="my_nav">
            <div class="edit_right">
                <%= link_to "編集", edit_user_registration_path, class: :show_nav_btn %>
            </div>
            <div class="edit_right">
                <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: :delete_nav_btn %>
            </div>
          </div>
          <% if current_user.admin? %>
            <div class="my_nav">
              <div class="edit_right">
                  <%= link_to "タグ一覧ページ", tags_path, class: :show_nav_btn %>
              </div>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>